<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.workstation.moneypal">

    <uses-permission android:name="android.permission.INTERNET"/> <!-- External storage permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- Wallpaper permission -->
    <uses-permission android:name="android.permission.SET_WALLPAPER"/> <!-- To use SMS based services -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/moneypal"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".UserPayActivity"
                  android:parentActivityName=".MoneyPalActivity">
        </activity>
        <activity android:name=".CreatGroupActivity">
        </activity>
        <activity
                android:name=".GroupActivity"
                android:label="@string/title_activity_group"
                android:parentActivityName=".MoneyPalActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.workstation.moneypal.MoneyPalActivity"/>
        </activity>
        <activity android:name=".YourPaymentResultActivity">
        </activity>
        <activity android:name=".DetailOperationActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MoneyPalActivity"/>
        </activity>
        <activity
                android:name=".MyAccountActivity"
                android:noHistory="false">
        </activity>
        <activity
                android:name=".UserAuthActivity"
                android:noHistory="true"
                android:screenOrientation="portrait"
                android:theme="@style/AppNoTToolBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".MoneyPalActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                        android:host="workstation.page.link"
                        android:scheme="https"/>
            </intent-filter>
            -->
        </activity>

        <meta-data
                android:name="com.google.firebase.ml.vision.DEPENDENCIES"
                android:value="label"/>
        <meta-data
                android:name="com.hover.ApiKey"
                android:value="4324307b60fe30cb5725cf331ec19ad0"/>
    </application>

</manifest>